<md-content ng-controller="AppController as AppCtrl">


    <div  class="md-padding" id="popupContainer" ng-cloak>

  </div>

    <md-card flex="70" flex-offset="15">


        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Calculo do momento de fissuração</span>
            <span class="md-subhead">Descrição</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>
           <p>Esse programa tem o objetivo de calcular o momento de fissuração baseando-se nos dados entrado pelo usúario</p>
        </md-card-content>

        <md-card-actions layout="column" >
          <md-button  href="/#/retangular" class="md-raised md-primary">Seção retangular</md-button>
          <md-button href="/#/te" class="md-raised md-primary">Seção Te</md-button>

        </md-card-actions>
      </md-card>

</md-content>
